.main {
    min-height: 85vh;
    width: calc(100% - 200px);
}; 

/* login page */
.login-page, .sign-up {
    min-height: 90vh;
    background: url(./assets/login-background.jpg);
    background-size: cover;
    /* position: relative; */
}
.login-card {
     background-color: rgba(255, 255, 255, 0.85); /* white with 85% opacity */
}

.forgot-password {
    min-height: 90vh;
}