.main {
    min-height: 85vh;
    width: calc(100% - 200px);
}; 

/* login page */
.login-page, .sign-up {
    min-height: 90vh;
    background: url(./assets/login-background.jpg);
    background-size: cover;
    /* position: relative; */
}
.login-card {
     background-color: rgba(255, 255, 255, 0.85); /* white with 85% opacity */
}

.forgot-password {
    min-height: 90vh;
}

/* carousel style */
 .carousel {
    height: 60vh;
 }

 .carousel img {
    height: 60vh;
    object-fit: cover;
    width: 100%;
 }

 .carousel-caption-bg {
    background-color: rgba(128, 128, 128, 0.766);
    backdrop-filter: blur(3px);
 }
/*  end carousel style */
